# Environment variables
backend/.env

# Dependencies
backend/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo 